@import "datatables.net-dt/css/jquery.dataTables.css";

.weather-table-container {
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

h2 {
  color: #007bff;
}

.btn-group button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

thead {
  background-color: #007bff;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}
